POSTGRES_USER=n8n
POSTGRES_PASSWORD=changeme
POSTGRES_DB=n8n
TZ=America/New_York

# n8n
N8N_EDITOR_BASE_URL=https://<REPLACE_WITH_FQDN>/
N8N_ENCRYPTION_KEY=$(openssl rand -hex 32)
N8N_PAYLOAD_SIZE_MAX=64
N8N_HOST=<REPLACE_WITH_FQDN>
NDN_UID=$(id -u)
NDN_GID=$(id -g)
WEBHOOK_URL=https://<REPLACE_WITH_FQDN>/
N8N_PROTOCOL=https
N8N_PUSH_BACKEND=websocket
N8N_SECURE_COOKIE=true
N8N_DEFAULT_CORS=true
N8N_CORS_ALLOW_ORIGIN=https://<REPLACE_WITH_FQDN>

MODEL_NAME=llama3.2:latest
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility